<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部商品</title>
    <link rel="stylesheet" href="../static/css/styleAllproduct.css">

</head>
<body>
<!-- 全部产品展示页面-->

<div class="container">
    <!--卡片竖着排列，根据html中的顺序get cards-->
    <div class="card-column column-0">
        <div class="card card-color-0">
            <div class="border"></div>
            <img src="/static/images/products/product1.png"/>
            <h1>H Style Harness</h1>
        </div>
        <div class="card card-color-2">
            <div class="border"></div>
            <img src="/static/images/products/product2.png"/>
            <h1>Trim Contoured Style Shoulder Harness</h1>
        </div>

        <div class="card card-color-1">
            <div class="border"></div>
            <img src="/static/images/products/product3.png"/>
            <h1>Classic Style Shoulder Harness</h1>
        </div>
    </div>

    <div class="card-column column-1">
        <div class="card card-color-3">
            <div class="border"></div>
            <img src="/static/images/products/product4.png"/>
            <h1>Full Classic Zipper Up Shoulder Harness</h1>
        </div>
        <div class="card card-color-1">
            <div class="border"></div>
            <img src="/static/images/products/product5.png"/>
            <h1>Y Strap</h1>
        </div>

        <div class="card card-color-0">
            <div class="border"></div>
            <img src="/static/images/products/product6.png"/>
            <h1>Backpack Style Straps</h1>
        </div>
    </div>

    <div class="card-column column-2">
        <div class="card card-color-1">
            <div class="border"></div>
            <img title="安全带"  src="/static/images/products/p2_1.png"/>
            <h1>Light Pediatric Bath Chair</h1>
        </div>

        <div class="card card-color-3">
            <div class="border"></div>
            <img src="/static/images/products/product4.png"/>
            <h1>Full Classic Zipper Up Shoulder Harness</h1>
        </div>
        <div class="card card-color-0">
            <div class="border"></div>
            <img src="/static/images/products/product6.png"/>
            <h1>Backpack Style Straps</h1>
        </div>
    </div>

</div>

<div id="cover" class="cover"></div>

<div id="open-content" class="open-content">
    <a href="#" id="close-content" class="close-content"><span class="x-1"></span><span class="x-2"></span></a>
    <img id="open-content-image" src=""/>
    <div class="text" id="open-content-text">
    </div>
</div>

<script src="../static/js/scriptAllproduct.js"></script>
</body>
</html>
